{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>C programming</title>
<link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>
<body>

<header>
  <h1></h1>
  <p>C is a powerful general-purpose programming language that has been foundational in the development of modern software, operating systems, and embedded systems.</p>
</header>

<section class="course-info">
  <h2>Course Information</h2>
  <ul>
    <li><strong>Price:</strong> ₹4999</li>
    <li><strong>Duration:</strong> 12 weeks</li>
    <li><strong>Level:</strong> Beginner → Advanced</li>
  </ul>
  <button id="registerBtn">
    <a href="{% url 'register' %}"><strong>sign up here</strong></a>
    Register Now</button>
</section>

<section id="courseContent" class="hidden">
  <h2>Course Content</h2>
  <ul>
    <li>Module 1: Introduction, Variables & Data Types</li>
    <li>Module 2: Control Structures & Functions</li>
    <li>Module 3: Arrays, Strings & Pointers</li>
    <li>Module 4: Structures, Unions & File Handling</li>
    <li>Module 5: Dynamic Memory & Advanced Concepts</li>
    
  </ul>

  <h2>Course Videos</h2>
  <ol>
    <li><a href="#" target="_blank">Data types</a></li>
    <li><a href="#" target="_blank">control structures</a></li>
    <li><a href="#" target="_blank">pointer and dynamic memory Video</a></li>
  </ol>


</section>

<script>
document.getElementById('registerBtn').addEventListener('click', function() {
  document.getElementById('courseContent').classList.remove('hidden');
  this.style.display = 'none';
});
</script>

</body>
</html>