{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>cloud computing</title>
<link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>
<body>

<header>
  <h1>Cloud computing</h1>
  <p>this course will introduce various aspects of cloud computing, including fundamentals, management issues, security challenges and future research trends at forms.</p>
</header>

<section class="course-info">
  <h2>Course Information</h2>
  <ul>
    <li><strong>Price:</strong> ₹4999</li>
    <li><strong>Duration:</strong> 12 weeks</li>
    <li><strong>Level:</strong> Beginner → Advanced</li>
  </ul>
  <button id="registerBtn">
    <a href="{% url 'register' %}"><strong>sign up here</strong></a>
    Register Now</button>
</section>

<section id="courseContent" class="hidden">
  <h2>Course Content</h2>
  <ul>
    <li>Module 1: Introduction to Cloud & Service Models</li>
    <li>Module 2: Virtualization & Cloud Deployment Models</li>
    <li>Module 3: AWS Fundamentals & IAM</li>
    <li>Module 4: Storage, Compute & Networking in the Cloud</li>
    <li>Module 5: Cloud Security & Best Practices</li>
  </ul>

  <h2>Course Videos</h2>
  <ol>
    <li><a href="#" target="_blank">Introduction</a></li>
    <li><a href="#" target="_blank">AWS fundamentals</a></li>
    <li><a href="#" target="_blank">cloud security</a></li>
  </ol>


</section>

<script>
document.getElementById('registerBtn').addEventListener('click', function() {
  document.getElementById('courseContent').classList.remove('hidden');
  this.style.display = 'none';
});
</script>

</body>
</html>