{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>cyber security</title>
<link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>
<body>

<header>
  <h1>Cyber Security</h1>
<p>Analyzing and evaluating legal frameworks and laws related to cyber security.
 Protecting critical assets, customer data privacy, and ensuring compliance with regulations.</p>
</header>

<section class="course-info">
  <h2>Course Information</h2>
  <ul>
    <li><strong>Price:</strong> ₹4999</li>
    <li><strong>Duration:</strong> 12 weeks</li>
    <li><strong>Level:</strong> Beginner → Advanced</li>
  </ul>
  <button id="registerBtn">
    <a href="{% url 'register' %}"><strong>sign up here</strong></a>
    Register Now</button>
</section>

<section id="courseContent" class="hidden">
  <h2>Course Content</h2>
  <ul>
    <li>Module 1: Introduction to Cyber Security & Threats</li>
    <li>Module 2: Cryptography Basics & Authentication</li>
    <li>Module 3: Network Security & Firewalls</li>
    <li>Module 4: Web Security & Ethical Hacking Basics</li>
    <li>Module 5: Incident Response & Risk Management</li>
  </ul>

  <h2>Course Videos</h2>
  <ol>
    <li><a href="#" target="_blank">Introduction</a></li>
    <li><a href="#" target="_blank">cryptography</a></li>
    <li><a href="#" target="_blank">web security</a></li>
  </ol>

  
</section>

<script>
document.getElementById('registerBtn').addEventListener('click', function() {
  document.getElementById('courseContent').classList.remove('hidden');
  this.style.display = 'none';
});
</script>

</body>
</html>