{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>JAVA</title>
<link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>
<body>

<header>
  <h1>JAVA programming</h1>
  <p>Aim to develop object-oriented programs using
  core concepts like classes,objects,inheritance,and polymorphism and solve real time problems.</p>
</header>

<section class="course-info">
  <h2>Course Information</h2>
  <ul>
    <li><strong>Price:</strong> ₹4999</li>
    <li><strong>Duration:</strong> 12 weeks</li>
    <li><strong>Level:</strong> Beginner → Advanced</li>
  </ul>
  <button id="registerBtn">
    <a href="{% url 'register' %}"><strong>sign up here</strong></a>
  Register Now</button>
</section>

<section id="courseContent" class="hidden">
  <h2>Course Content</h2>
  <ul>
   <li>Module 1: Basics of Java, Data Types & Variables</li>

<li>Module 2: Control Statements & Loops</li>

<li>Module 3: OOP Concepts (Classes, Objects, Inheritance)</li>

<li>Module 4: Collections & Exception Handling</li>

<li>Module 5: File I/O & Multithreading</li>



  </ul>

  <h2>Course Videos</h2>
  <ol>
    <li><a href="https://www.youtube.com/watch?v=3JluqTojuME" target="_blank">data types and 
    <li><a href="#" target="_blank">control Statements and loops</a></li>
    <li><a href="#" target="_blank">Multithreading</a></li>
  </ol>

 
</section>

<script>
document.getElementById('registerBtn').addEventListener('click', function() {
  document.getElementById('courseContent').classList.remove('hidden');
  this.style.display = 'none';
});
</script>

</body>
</html>